@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
* {
    font-family: Lato;
}

main {
    width: 70%;
    margin: auto;
}

footer {
    position: absolute;
}

.right-section img {
    border-radius: 50%;
}

h1 {
    color: black;
}

.about-container {
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
                "left left right"
                "left left right"
                "bottom bottom bottom";
}

.left-section {
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    text-align: left;
}

.left-section > h1 {
    margin: 20px 0;
}

.line-break {
    width: 60%;
    height: 2px;
    background: silver;
    margin: 20px 0;
    margin-right: auto;
}

.right-section {
    grid-area: right;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.bottom-section {
    grid-area: bottom;
    padding: 20px;

}

@media screen and (max-width: 1000px) {
    .nav-block a {
        display: none;
    }
    .nav-block a.icon {
        background: white;;
        display: block;
    }
    .nav.responsive {
        height: auto;
    }
    .nav-block.responsive {
        display: flex;
        flex-flow: column;
        height: 300px;
        margin-top: 15px;
    }
    .nav-block.responsive a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 10px;
      background: white;
      color: black;
    }

    .social-button {
        width: 25px;
        padding: 5px;
        margin-right: 10px;
    } 

    .landing-main h1 {
        top: 20%;
    }

    .copyright {
        font-size: 10px;
        width: 200px;
    }

    .nav-block a:hover {
        box-shadow: none;
        color: #757575;
        transition: 0.2s;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .left-section {
        text-align: center;
        justify-content: none;
        align-items: center;
    }

    .line-break {
        margin-left: auto;
    }

    footer {
        position: relative;
    }
  }