main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 35%;
	margin: auto;
}

form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

main input {
	width: 80%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
}

main textarea {
	width: 80%;
	padding-top: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	height: 200px;
	resize: none;
	text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main button {
	height: 50px;
	width: 115px;
}

main button:hover {
	cursor: pointer;
}

@media screen and (max-width: 699px) {
	.nav-block a {
		display: none;
	}
	.nav-block a.icon {
		background: white;;
	  	display: block;
	}
	.nav.responsive {
		height: auto;
	}
	.nav-block.responsive {
		display: flex;
		flex-flow: column;
		height: 300px;
		margin-top: 15px;
	}
	.nav-block.responsive a {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	  margin: 0 10px;
	  background: white;
	  color: black;
	}

	.social-button {
		width: 25px;
		padding: 5px;
		margin-right: 10px;
	} 

	.landing-main h1 {
		top: 20%;
	}

	.copyright {
		font-size: 10px;
		width: 200px;
	}

	.nav-block a:hover {
		box-shadow: none;
		color: #757575;
		transition: 0.2s;
	}

	main {
		width: 80%;
	} 
  }