@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
* {
    font-family: Lato;
}
.gallery-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery-box {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 300px;
    grid-auto-rows: 300px;
}

.gallery-title {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 3;
    margin: 20px 0;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    margin-bottom: 10px;
    width: 200px;
    transition: 0.2s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.gallery-item > a {
    text-decoration: none;
    text-align: center;
    color: black;
}

@media screen and (max-width: 699px) {
    .nav-block a {
        display: none;
    }
    .nav-block a.icon {
        background: white;;
        display: block;
    }
    .nav.responsive {
        height: auto;
    }
    .nav-block.responsive {
        display: flex;
        flex-flow: column;
        height: 300px;
        margin-top: 15px;
    }
    .nav-block.responsive a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 10px;
      background: white;
      color: black;
    }

    .social-button {
        width: 25px;
        padding: 5px;
        margin-right: 10px;
    } 

    .landing-main h1 {
        top: 20%;
    }

    .copyright {
        font-size: 10px;
        width: 200px;
    }

    .nav-block a:hover {
        box-shadow: none;
        color: #757575;
        transition: 0.2s;
    } 

    .gallery-box {
        display: flex;
        flex-direction: column;
    }

    .gallery-item h2 {
        padding-bottom: 40px;
    }
  }